[user]
	email = simon@ipconnect.no
	name = Simon Hellesylt-Larsen
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pager]
	branch = false
[alias]
	ac = commit -am
	newbranch = checkout -b
	pushorigin = push -u origin
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
